SERVER_PORT=8078
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_xxxxxxxxx
COGNITO_AUDIENCE=
CORS_ALLOWED_ORIGINS=http://localhost:3000
# Preferir 127.0.0.1 en Windows (localhost puede ir a IPv6 ::1 y fallar en Netty)
RRHH_IDENTITY_URL=http://127.0.0.1:8081
RRHH_TRABAJADORES_URL=http://127.0.0.1:8082
RRHH_CONTRATOS_URL=http://127.0.0.1:8083
RRHH_ASISTENCIA_URL=http://127.0.0.1:8084
RRHH_AUSENCIAS_URL=http://127.0.0.1:8085
RRHH_NOTIFICATIONS_URL=http://127.0.0.1:8086
